<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spell Manager</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' type="text/css" href='/assets/css/reset.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    <!-- JUMBO -->
    <div class="jumbotron">
        <h1 class="animated zoomIn">The Standard Book of Spells!</h1>
        <p>Welcome to The Standard Book of Spells! Enter your favorite spells to the list below and practice each one by "casting" them. When you successfully cast the spell, this application will mark them as completed.</p>
        <!-- <p class="current-time text-center">Current Time: <span id="currentTime"></span></p> -->
    </div>
    {{{ body }}}
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="muted credit">Copyright &copy; 2017 Enrico Bernardo</p>
        </div>
    </footer>
</body>

</HTML>